@use '../../styles/scss/colors' as c;

.footer {
    max-width: 100%;
    width: 100%;
    background-color: c.$font-color;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    clip-path: polygon(42% 36%, 76% 22%, 100% 36%, 100% 100%, 0 100%, 0 11%);
    padding: 20rem 1rem 3rem 1rem;
    
    &-section1 {
        color: white;
        display: grid;
        gap: .3rem;
    }

    &-section2 {
        color: white;
        display: grid;
        gap: .3rem;
    }

}

@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
