@use '../../styles/scss/colors' as *;

.footer {
    max-width: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    // background-image: linear-gradient(to bottom, rgba(150,170,0, 0.4), rgba(150,0,255,0.3));
    background-color: $background-color;
    margin: 7rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    -webkit-clip-path: polygon(54% 2%, 86% 12%, 100% 6%, 100% 100%, 0 100%, 0 0, 23% 11%);
    clip-path: polygon(54% 2%, 86% 12%, 100% 6%, 100% 100%, 0 100%, 0 0, 23% 11%);
    padding: 7rem 1rem 3rem 1rem;
    
    .footer-info {
        margin: 1rem;
    }
    &-section1 {
        color: white;
        display: grid;
    }

    &-section2 {
        color: white;
        display: grid;
    }


}

@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}