$background-color: black;
$secondBackground-color: gray;

$font-color: black;
$base-font-size: 1rem;
$h1-size: 1.5rem;
$p-size: .8rem;

$second-font-color: white;
$font-color-hover: gray;

$font-family: 'Poppins', sans-serif;
$facebook-color: rgba(0, 0, 255, 0.3);
$github-color: rgba(105, 105, 255, 0.3);

$first-section-background: white;
$first-section-font: black;

$second-section-background: black;
$second-section-font: white;

$third-section-background: white;
$third-section-font: black;




// xd

$background-color: black;
$secondBackground-color: black;
$font-color: white;
$second-font-color: white;

$font-clr-white: white;
$btn-clr: white;//rgba(150,0,255,0.9);


$font-color-hover: black;
$font-family: 'Poppins', sans-serif;
$facebook-color: #3b5998;
$github-color: #171515;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

$small-font-size: .5rem;
$base-font-size: 1rem;
$big-font-size: 1.2rem;
$h1-size: 1.5rem;
$p-size: .8rem;