@use '../../styles/scss/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@100&display=swap');


$background-color: black;
$secondBackground-color: black;
$font-color: white;
$second-font-color: white;

$font-clr-white: white;
$btn-clr: white;//rgba(150,0,255,0.9);


$font-color-hover: black;
$font-family: 'Poppins', sans-serif;
$facebook-color: #3b5998;
$github-color: #171515;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

$small-font-size: .5rem;
$base-font-size: 1rem;
$big-font-size: 1.3rem;
$h1-size: 1.5rem;
$p-size: .8rem;


.color {
    width: 100%;
    // background-image: linear-gradient(to top, rgba(150,170,0, 0.3), rgba(150,0,255,0.3));
    background-color: black;
    backdrop-filter: blur(2px);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 93%, 84% 100%, 12% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 84% 100%, 12% 100%, 0 90%, 0 0);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    row-gap: .5rem;

    align-items: center;
    border-radius: 2rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5rem;

    @media (max-width: 750px) {
        .navbarLinks {
            position: absolute;
            right: -200px;
            top: 0;
            transition: .2s all ease-in-out;
            .socialLinks {
                display: none;
                background-color: none;
                .github {
                    display: none;
                }
                .facebook {
                    display: none;
                }
            }
        }

        .hamMenu {
            width: 50px;
            height: 50px;
            gap: 10px;

            display: flex;
            flex-direction: column;
            position: relative;
            top: -10px;
            right: 30px;
            align-items: flex-end;
            .bar {
                width: 45px;
                height: 4px;
                background-color: $font-color;
                border-radius: 5px;
                transition: all .2s ease-out;
            }
            #bar2 {
                width: 25px;
            }
        }

        .navbarLinks-active {
            display: flex;
            flex-direction: column;
            transition: 1s all ease;
            position: absolute;
            right: 11vw;
            justify-content: center;
            text-align: center;
        }
    }

    .hamMenu-active {
        position: relative;
        right: 20px;
        #bar1 {
            transform: rotate(-45deg) translate(-5px, 15px);
        }
        #bar3 {
            transform: rotate(45deg) translate(-5px, -13px);
        }
        #bar2 {
            width: 0px;
        }
    }
}